# Firebase Environment Variables Configuration
VITE_FIREBASE_API_KEY=AIzaSyCLDjUbi8UVdlfEyKWJCwsfe0hUUv4Hb4w
VITE_FIREBASE_AUTH_DOMAIN=smartcircularvillage.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smartcircularvillage
VITE_FIREBASE_STORAGE_BUCKET=smartcircularvillage.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=293727933857
VITE_FIREBASE_APP_ID=1:293727933857:web:c25bbbbcf9da005b6f27e0
